<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deltifiedBlob</key>
	<dict>
		<key>sha1</key>
		<string>dad7275d1d9c17b81ffab9a61cfd48c940aaf994</string>
	</dict>
	<key>deltifiedBlobXO</key>
	<dict>
		<key>sha1</key>
		<string>da26259c7057cedc6552071f1fc51b430e01fab4</string>
	</dict>
	<key>deltifiedTree</key>
	<dict>
		<key>sha1</key>
		<string>dc493b818cbbf489bf5e6dfa793fc991df4fc078</string>
	</dict>
	<key>deltifiedTreeXO</key>
	<dict>
		<key>sha1</key>
		<string>fac337c337d0dc53a61360daad8f18b632066460</string>
	</dict>
	<key>firstObject</key>
	<dict>
		<key>offset</key>
		<integer>12</integer>
		<key>sha1</key>
		<string>85f6ab303f8f6601377ce2d8ebcf186c4b5d7d68</string>
	</dict>
	<key>lastNormalObject</key>
	<dict>
		<key>offset</key>
		<integer>299902</integer>
		<key>sha1</key>
		<string>8c9db88c17479d4663658fd9321e095ea2c4a690</string>
	</dict>
	<key>lastObject</key>
	<dict>
		<key>offset</key>
		<integer>332902</integer>
		<key>sha1</key>
		<string>a01ba8491691058a072cbb4b12acce1d54801e22</string>
	</dict>
	<key>penultimateObject</key>
	<dict>
		<key>offset</key>
		<integer>332809</integer>
		<key>sha1</key>
		<string>5cf8773ba4c007845873e3d8b23d406652a1f8c4</string>
	</dict>
	<key>rawBlob</key>
	<dict>
		<key>sha1</key>
		<string>e83483aee3acd1ed7e268f524feaccefc20dd9e7</string>
	</dict>
	<key>rawTree</key>
	<dict>
		<key>sha1</key>
		<string>d00160399d71034078fd8ea531a6739f321b369b</string>
	</dict>
</dict>
</plist>
